{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    <script src="{% static 'script.js' %}" defer></script>
  </head>
  <body>
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissable fade show"
      role="alert"
    >
      <strong>Message:</strong>{{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <h3>Welcome</h3>
    {% if user.is_authenticated %}
    <h3>Login Succesful, Hello {{ fname }}</h3>
 <button type="submit" id="signout"><a href="/signout">Sign Out</a></button>

    {% else %}
    <button type="submit" id="signup"><a href="/signup">Sign Up</a></button>
    <button type="submit" id="signin"><a href="/signin">Sign In</a></button>
    {% endif %}
  </body>
</html>
