<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
  </head>
  <body>
        {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissable fade show"
      role="alert"
    >
      <strong>Message:</strong>{{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <h3>Sign Up</h3>
    <form action="/signup/" method="post">
      {% csrf_token %}
      <label>Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter Username"
        required
      />
      <br />
      <label>First Name</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        placeholder="Enter First Name"
        required
      />
      <br />
      <label>Last Name</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        placeholder="Enter Last Name"
        required
      />
      <br />
      <label>Email</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter Email"
        required
      />
      <br />
      <label>Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter Password"
        required
      />
      <br />
      <label>Confirm Password</label>
      <input
        type="password"
        id="confirmpass"
        name="confirmpass"
        placeholder="Re-enter Password"
        required
      />
      <br />
      <button type="submit">Sign-Up</button>
    </form>
  </body>
</html>
